<!DOCTYPE html>
<html lang="pt-br" ng-app="ecommerce-app">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="./assets/css/admin-new-products.css">
    <title>Novo Produto | Berns Store</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body ng-controller="AdminCreateProductController">
    <header class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark header">
        <a class="navbar-brand" href="/">
            <img src="./assets/images/logo_mini.png" alt="">
        </a>
        <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item dropdown logged">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-user"></i>{{ userName }}</a>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="purchases-made.html">Pedidos Realizados</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#loggout" data-bs-toggle="modal"
                                data-bs-target="#loggout">Sair</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link admin-logged" href="admin.html"><i class="fa-solid fa-gear"></i>Admin</a>
                </li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col div-container">
                <h2>Novo Produto</h2>
                <div class="new-product-container">
                    <form ng-submit="handleSubmit()">
                        <img class="d-block"
                            ng-src="{{imageUrl || 'https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/991px-Placeholder_view_vector.svg.png'}}"
                            alt=".">
                        <div class="form-group">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" id="name" name="name" ng-model="name">
                        </div>
                        <div class="form-group">
                            <label for="description">Descrição</label>
                            <input type="text" class="form-control" id="description" name="description"
                                ng-model="description">
                        </div>
                        <div class="form-group">
                            <label for="price">Preço</label>
                            <input type="text" class="form-control" id="price" name="price" ng-model="price"
                                ng-change="formatPrice()">
                        </div>
                        <div class="form-group">
                            <label for="imageUrl">URL da Imagem</label>
                            <input type="text" class="form-control" id="imageUrl" name="imageUrl" ng-model="imageUrl">
                        </div>
                        <img src="" alt="">

                        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>

                    </form>

                </div>
            </div>
        </div>

    </div>

    <!-- Modal Sair -->
    <div class="modal fade" id="loggout" tabindex="-1" role="dialog" aria-labelledby="loggout" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fs-5" id="loggout">Sair</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <p>Tem certeza que deseja sair?</p>
                        </div>
                        <div class="text-center">
                            <button ng-click="logout()" class="btn btn-primary">
                                Sim
                            </button>
                            <button class="btn btn-danger" data-bs-dismiss="modal">
                                Cancelar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="footer-container">
            <p>&copy;Copyright 2024 - Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="./assets/js/lib/jwt-decode.js"></script>
    <script src="./assets/js/app.js"></script>
    <script src="./assets/js/services/admin.service.js"></script>
    <script src="./assets/js/services/session.service.js"></script>
    <script src="./assets/js/controllers/admin-new-product.js"></script>
</body>

</html>